@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0D0D0D;
    font-family:"Orbitron", sans-serif ;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 500px;
    height: 300px;
    border-radius: 100px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.time{
    width: 70%;
    height: 50px;
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 25px;
    font-weight: bolder;
    color: #FF00FF;
    text-shadow:  0 0 20px #FF00FF;
}
.t{
    width: 30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}
.date{
    width: 70%;
    height: 50px;
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 25px;
    color: #00FFFF;
    text-shadow: 0 0 10px #00FFFF;
}
.d{
    width: 30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    font-weight: bolder;
}
.year{
    width: 60px;
}